html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #000000;
  text-align: left;
}

a {
  text-decoration: none;
}


.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  box-sizing: border-box;
  padding: 8px 35px;
  background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}


.button:hover {
  background-image: linear-gradient(to bottom, transparent 20%, #f0c52e 20%, #f0c52e 80%, transparent 80%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-top: 40px;
}

.main-header-wrapper ul {
  display: flex;
  justify-content: space-between;

  padding: 0 20px;
}

.main-navigation {
  color: #000000;
  background-color: #f7e296;

  display: flex;
  flex-direction: column;
}

.nav-links {
  position: relative;
  padding-left: 30px;
}

.nav-login::before {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  content: "";
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.nav-compare::before {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  content: "";
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.nav-cart::before {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  content: "";
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.nav-login:hover::before,
.nav-compare:hover::before,
.nav-cart:hover::before {

  opacity: 0.6;

}

.search-form {
  position: relative;
  display: flex;
  width: 440px;
  margin-right: 100px;
  line-height: 30px;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 5px 50%
}

.main-header-search {
  position: relative;
  width: 357px;
  margin: 0;
  padding: 8px 0 8px 40px;
  line-height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  color: rgba(0, 0, 0, .3);
}

.main-header-search:focus {
  color: #000;
  border-bottom-color: #000;
  outline: 0;
}

.search-button {
  padding: 8px 18px;
  line-height: 30px;
  letter-spacing: .01em;
  text-transform: none;
  font-weight: 400;
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  visibility: hidden;
}

.search-button:focus,
.search-button:hover {
  color: #fff;
  background-color: #000;
  visibility: visible
}

.search-button:active {
  color: rgba(255, 255, 255, .3);
  background-color: #000;
  visibility: visible
}

.main-header-search:focus+.search-button {
  visibility: visible
}

.user-navigation,
.site-infromtaion,
.main-catalog,
.main-catalog-navigation {
  list-style: none;
}

.user-navigation,
.main-catalog-navigation {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.main-catalog,
.site-infromtaion {
  letter-spacing: 3.6px;
  text-transform: uppercase;

}

.site-infromtaion .main-catalog-navigation {
  display: none;
}

.catalog-items a:first-child {
  position: relative;
}

.catalog-items>a:first-child::after {
  position: absolute;
  content: "";
  top: 3px;
  right: -27px;
  width: 16px;
  height: 16px;
  background-image: url(../img/plus.svg);
  opacity: .3;
}

.site-infromtaion li:first-child:hover .main-catalog-navigation {
  display: block;
}


.user-navigation a,
.site-infromtaion a,
.main-catalog a,
.main-catalog-navigation a {
  color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus,
.site-infromtaion a:hover,
.site-infromtaion a:focus,
.main-catalog a:hover,
.main-catalog a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active,
.site-infromtaion a:active,
.main-catalog a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-slider ul {
  list-style: none;
}

.main-slider h3 {
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
}

.main-slider span {
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  text-align: right;
  color: #ffffff;
}

.main-slider p {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #464646;
}

.main-slider a {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.main-slider dl {
  display: flex;
}

.main-slider dt {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.main-slider dd {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.13px;
  color: #464646;
}

.slider-items {
  display: flex;
}

.parameters {
  margin-top: 50px;
  margin-left: -2px;
  border-collapse: collapse;
  border-spacing: 0
}

.parameters td {
  width: 160px;
  padding: 0
}

.parameters td:nth-child(2) {
  width: 140px
}

.parameters-name td {
  padding-top: 7px
}

.parameters tr:first-child {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: .01em
}

.parameters tr:last-child {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: .01em
}

.popular-categories ul {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;


  display: flex;
  justify-content: space-between;

  padding: 0;

  list-style: none;
}

.popular-categories a {
  color: #000000;
}

.categories-item {
  width: 100px;
}

.category-image {
  position: relative;
  margin-bottom: 33px;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.category-image svg {
  position: absolute;
  top: 50%;
  left: 50%;
}

.category-image:hover {
  background-color: #f0c52e
}

.main-information-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.labels-list {
  display: flex;
  flex-direction: column;
}

.service-list-item {
  position: relative;
}

.item-delivery p::after {
  content: "";
  position: absolute;
  top: -67px;
  left: 493px;
  width: 260px;
  height: 320px;

  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.item-warranty p::after {
  content: "";
  position: absolute;
  top: -67px;
  left: 493px;
  width: 260px;
  height: 320px;

  background-image: url(../img/warranty.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.item-credit p::after {
  content: "";
  position: absolute;
  top: -67px;
  left: 493px;
  width: 260px;
  height: 320px;

  background-image: url(../img/credit.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.main-information-block label {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;
}

.main-information-block h3 {
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.main-information-block p {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

.main-information-block ul {
  list-style: none;
}

.main-brands ul {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  list-style: none;
}

.brand a {
  position: relative;
  display: block;
  width: 260px;
  height: 100px;
}

.brand a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100px;
  z-index: 1;
}

.brand-1:hover::before {
  background-image: url(../img/dji.png);
}

.brand-2:hover::before {
  background-image: url(../img/spgadgets.png);
}

.brand-3:hover::before {
  background-image: url(../img/gopro.png);
}

.brand-4:hover::before {
  background-image: url(../img/vive.png);
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.index-columns h2 {
  position: relative;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.index-columns h2::before,
.delivery-service::before {
  content: " ";
  position: absolute;
}

.index-columns h2::before {
  top: -13px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000;
}

.main-about-us p,
.main-contacts>p {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: normal;
  color: #464646;
}

.main-about-us a,
.main-contacts a {
  color: #000000;
  text-transform: uppercase;
}

.delivery-service {
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 0;
  color: #000;

  list-style: none;
}

.delivery-service::before {

  top: 16px;
  left: -36px;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;

}

.feedback-form label {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form button {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;

  background-color: transparent;
  border: 0;
}

.main-footer {
  background-color: #464646;

}

.main-footer .container {
  display: flex;
  flex-direction: column;
}

.footer-user-menu,
.footer-about-us,
.footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-decoration-line {
  width: 80px;
}

.footer-socials {
  position: relative;
}

.footer-socials::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.socials-buttons-list {
  width: 140px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.socials-button img {
  opacity: 0.3;
}

.socials-button img:hover {
  opacity: 0.6;
}

.footer-academy-logo:hover {
  opacity: .6;
}

.main-footer .footer-tel,
address {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;

  color: #ffffff;

}

.footer-user-navigation,
.footer-site-information {
  display: flex;

  list-style: none;
}

.footer-site-information a {
  text-transform: uppercase;
  color: white;
}

.footer-site-information a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-information a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation a {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(255, 255, 255, 0.7);

  position: relative;
  padding-left: 30px;
}

.footer-user-navigation a:hover {
  color: #ffffff;
}

.footer-user-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-login::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/user.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-compare::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/compare.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-cart::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/cart.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-login:hover::before,
.footer-compare:hover::before,
.footer-cart:hover::before {
  opacity: 0.6;
}

.catalog-page h2,
.catalog-page-switcher a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.catalog-page legend,
.catalog-page h3 {
  letter-spacing: 0.18px;
  text-transform: capitalize;
}

.breadcrumbs {
  display: flex;
  flex-direction: column;
}

.breadcrumbs ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;

  color: rgba(0, 0, 0, 0.3);
}

.aside-catalog-items-filter,
.catalog-items-sorting,
.catalog-page-switcher {
  background-color: #ebebeb;
}

.aside-catalog-items-filter ul {
  list-style: none;
}

.aside-catalog-items-filter label {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.14px;
  text-align: left;
}

.aside-catalog-items-filter button {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;

  background-color: transparent;
  border: 0;
}

.catalog-wrapper {
  justify-content: space-between;
  display: flex;
}

.catalog-items-sorting {
  display: flex;
  justify-content: space-between;
}

.catalog-items-sorting ul {
  list-style: none;
}

.types-of-sorting,
.arrows-sorting {
  display: flex;

}

.types-of-sorting a,
.arrows-sorting a {
  color: black;
}

.types-of-sorting a {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.3);
}

.types-of-sorting a:active {
  color: #000000;
}


.catalog-items-wrapper ul {
  list-style: none;
}

.catalog-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.catalog-items a:nth-of-type(2n) {
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-align: right;
  color: #464646;
}

.catalog-page-switcher {
  display: flex;
  justify-content: center;
}


.catalog-page-switcher a {
  color: #000000;
}

.catalog-items-button {
  background-color: rgba(238, 238, 238, 0.7);
  ;
}

.catalog-items-button a:first-of-type {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

}

.catalog-items-button a:last-of-type {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);

}

.write-us {
  position: relative;
  width: 760px;
  background-color: #fff;
  padding: 96px 100px 80px;
}
.form-input-wrapper{
  display: flex;
  justify-content: space-between;
}

.modal-close {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-color: #f0c52e;
  opacity: .5;
  border-radius: 50%;
  border: 0;
}


.modal-close::before{
  content: "  ";
  position: absolute;
  top: 26px;
    left: 14px;
    width: 50%;
    height: 2px;
  background-color: white;
  transform: rotate(45deg);
}

.modal-close::after{
  content: "  ";
  position: absolute;
  top: 26px;
    left: 14px;
    width: 50%;
    height: 2px;
  background-color: white;
  transform: rotate(-45deg);
}